<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- This page is for people who access this website without permissions, it will display something that they should not be here -->

  <h1>Sorry, you are not allowed to access this page</h1>
  <h5>Please contact <u>Nikko Echanez</u> on Facebook for details</h5>
</body>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  h1 {
    font-size: 2rem;
  }
  h5 {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
  }
</style>
</html>
