<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form id="login">
    <h1>Login</h1>
    <input type="text" name="username" placeholder="Username or Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>

  <form id="register">
    <h1>Register</h1>
    <input type="text" name="fullname" placeholder="Fullname">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <select name="role">
      <option value="teacher">Teacher</option>
      <option value="student">Student</option>
    </select>
    <button type="submit">Register</button>
  </form>
</body>

<script>
  const loginForm = document.getElementById('login');
  const registerForm = document.getElementById('register');
  loginForm.addEventListener('submit', async (e) => {
    e.preventDefault();
    const username = loginForm.username.value;
    const password = loginForm.password.value;
    
    fetch('/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ username, password })
    }).then(res => res.json())
      .then(data => {
        if (data.error) {
          console.log(data.error);
        } else {
          createPopup(data.message);
        }
      })
      .catch(err => {
        console.log(err);
      })

  })

  //register
  registerForm.addEventListener('submit', async (e) => {
    e.preventDefault();
    const fullname = registerForm.fullname.value;
    const username = registerForm.username.value;
    const email = registerForm.email.value;
    const password = registerForm.password.value;
    // get the dropdown value
    const role = registerForm.role.value;
    console.log(role);

    fetch('/register', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ fullname, username, email, password, role })
    }).then(res => res.json())
      .then(data => {
        if (data.error) {
          createPopup(data.error);
        } else {
          createPopup(data.message);
        }
      })
      .catch(err => {
        console.log(err);
      })

  })

  // function for creating and showing popups for response messages

  function createPopup(message) {
    const popup = document.createElement('div');
    popup.classList.add('popup');
    popup.textContent = message;
    document.body.appendChild(popup);
    setTimeout(() => {
      popup.remove();
    }, 3000);
  }
</script>




</html>
